# Maven
target/
pom.xml.tag
pom.releaseBackup
pom.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
